@charset "UTF-8";

@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html {
	src: url('https://cdn.jsdelivr.net/npm/sweetalert2@11');
}

body {
	font-family: 'KorailRoundGothicBold';
}

h1 {
	color: black;}
	
/* alert창 css */
div:where(.swal2-container) div:where(.swal2-popup) {
	width: 15em;
	padding: 0 0 0.5em;}
div:where(.swal2-container) h2:where(.swal2-title) {
	padding: 0;
	font-size: 1.05em;}
div:where(.swal2-container) .swal2-html-container {
	margin: 0;
	font-size: 0.95em;}
div:where(.swal2-container) div:where(.swal2-actions) {
	margin: 0;}
div:where(.swal2-icon) {
	margin: 0.5em auto 0.5em;}
div:where(.swal2-icon).swal2-warning {
	border-color: #0ddbb9;
	color: #0ddbb9;}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
	background-color: #0ddbb9;
	color: #fff;
	font-size: 0.9em;
	font-weight: 600;}
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel{
	font-size: 0.9em;
	font-weight: 600;}
/* alert창 css */	
