<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwillbs.mappers.contractMapper">
<!-- contract 상세보기  -->
	<select id="readContractInfo" resultType="ContractVO">
		SELECT * FROM contract 
		WHERE cont_id = #{cont_id}
	</select>
<!-- contract 상세보기  -->
	
<!-- contract 등록하기 	 -->
	<insert id="insertContract">
	INSERT INTO contract (cont_id, product_name, product_id, cust_id, cust_name,
	cont_date, cont_qty, due_date, production_id, cont_emp, cont_status)
	VALUES(#{cont_id}, #{product_name}, #{product_id}, #{cust_id}, #{cust_name}, 
	#{cont_date}, #{cont_qty}, #{due_date}, #{production_id}, #{cont_emp},
	0)
	</insert>
<!-- contract 등록하기 	 -->

<!-- cont_id 자동 카운트 -->
 	<select id="getLastGeneratedNumber" resultType="java.lang.String">
        SELECT cont_id FROM contract ORDER BY cont_id DESC LIMIT 1
    </select>
<!-- cont_id 자동 카운트 -->


<!-- contract 수정하기 -->
	<update id="updateContract">
	UPDATE contract SET cust_name=#{cust_name},
	product_id=#{product_id}, product_name=#{product_name},
	cust_id=#{cust_id}, cont_date=#{cont_date}, cont_qty=#{cont_qty},
	due_date=#{due_date}, cont_emp=#{cont_emp}
	WHERE cont_id=#{cont_id}
	</update>
<!-- contract 수정하기 -->
	
<!-- contract 삭제하기 	 -->
	<update id="deleteContract">
		UPDATE contract SET cont_status=1
		WHERE cont_id=#{cont_id}
	</update>
<!-- contract 삭제하기 	 -->

<!-- cont_id를 out_product테이블에 넣기 -->
	<insert id="contIdInsert">
		insert into out_product (cont_id) 
		values (#{cont_id})
	</insert>
<!-- cont_id를 out_product테이블에 넣기 -->

<!-- 상품 상세정보 조회 -->
	<select id="getProductInfo" resultType="ProductionVO">
		select * from product 
		where product_id = #{product_id}
	</select>
<!-- 상품 상세정보 조회 -->

<!-- 상품목록 가져오기 -->
	<select id="getProductList" resultType="ProductionVO">
		select * from product
	</select>
<!-- 상품목록 가져오기 -->
	
</mapper>