<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.itwillbs.mappers.materialMapper">

<!-- 자재 목록 조회  -->
	<select id="getMaterialList" resultType="com.itwillbs.domain.MaterialVO">
		select * from material 
	</select>
<!-- 자재 목록 조회  -->







</mapper>