<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mappers.orderMapper">
 
   <!-- 발주목록 조회  -->              
      <select id="getOrderList" resultType="com.itwillbs.domain.OrderVO">
        SELECT o.order_id, o.order_status, m.ma_id, m.ma_name, m.ma_qty, o.order_vat,o.order_sum ,o.order_date, o.due_date, o.order_emp, o.order_qty, o.whs_id, m.unit_cost, o.in_date
		FROM material m, orders o
		WHERE m.ma_id = o.ma_id and o.order_status = 1
      </select>
   <!-- 발주목록 조회  -->
       <!-- 발주등록하기  -->
       <insert id="insertOrder" >
         insert into orders (order_id, ma_id, order_qty, order_sum, order_vat, order_emp, order_date,due_date,in_date, whs_id)
         values (#{order_id}, #{ma_id}, #{order_qty}, #{order_sum},#{order_vat}, #{order_emp},#{order_date},#{due_date},#{in_date},#{whs_id})
       </insert>
       <!-- 발주등록하기  -->
      <!-- 입고테이블에 order_id 넣기  -->       
       <insert id="insertOrders" >
         insert into in_material (order_id)
         values (#{order_id})
       </insert>       
      <!-- 입고테이블에 order_id 넣기  -->       
        <!--발주번호 최대 값 (maxNumber) 230620004 -->
    <select id="getMaxNumber" resultType="String">
        SELECT MAX((SUBSTRING(order_id, 3)))
		FROM orders;
    </select>
 <!-- 발주번호 최대값 (maxNumber) 230620004 -->
 <!-- 발주목록 조회하기 -->
      <select id="getOrderInfo" resultType="com.itwillbs.domain.OrderVO">
		SELECT o.order_id, o.order_status, m.ma_id, m.ma_name, m.ma_qty, o.order_vat,o.order_sum ,o.order_date, o.due_date, o.order_emp, o.order_qty, o.whs_id ,m.unit_cost,o.in_date
		FROM material m, orders o
		WHERE order_id = #{order_id} and o.order_status = 1 and m.ma_id = o.ma_id
	</select>
 <!-- 발주목록 조회하기 -->
 
 <!-- DB 발주번호 최대 날짜 (maxDate) == 230620 -->	
 	<select id="getMaxDate" resultType="String">
 		SELECT MAX((SUBSTRING(order_id, 3, 6)))
		FROM orders;
 	</select>
 <!-- DB 발주번호 최대 날짜 (maxDate) == 230620 -->
 <!-- 발주 정보 수정 -->
	<update id="modifyOrder" >
		update orders set order_id=#{order_id}, whs_id=#{whs_id}, order_qty=#{order_qty}, order_sum=#{order_sum}, order_vat=#{order_vat}, order_emp=#{order_emp}, order_date=#{order_date}, due_date=#{due_date}, in_date=#{in_date}
		where order_id = #{order_id}
	</update>
 <!-- 발주 정보 수정 -->

   <!-- 발주 정보 삭제  -->
     <delete id="deleteOrder" >
        update orders SET order_status = 0
        where order_id = #{order_id}
     </delete>
   <!-- 발주 정보 삭제  -->
 
 
      </mapper>