<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                      
                      
                      
<mapper namespace="com.itwillbs.mappers.outproductMapper">


<!-- 출고 리스트 -->
	<select id="getOutProductList" resultType="com.itwillbs.domain.OutProductVO"> 
		SELECT o.op_id, pr.production_id, 
		       co.cust_name, pd.product_name, co.cont_qty, pd.product_qty, pr.production_date, 
		       co.due_date, o.op_process, o.op_date, o.op_emp
		FROM production pr
		LEFT JOIN product pd
		ON pr.product_id = pd.product_id
		LEFT JOIN out_product o
		ON pd.product_id = o.product_id
		LEFT JOIN contract co
		ON o.production_id = co.production_id
		ORDER BY op_process, op_id DESC, pr.production_id DESC
	</select>
<!-- 출고 리스트 -->


 <!-- 출고번호 최대 값 (maxNumber) 230620004 -->
    <select id="getMaxNumber" resultType="String">
        SELECT MAX((SUBSTRING(op_id, 3)))
		FROM out_product;
    </select>
 <!-- 출고번호 최대값 (maxNumber) 230620004 -->
 
 
 <!-- DB 출고번호 최대 날짜 (maxDate) == 230620 -->	
 	<select id="getMaxDate" resultType="String">
 		SELECT MAX((SUBSTRING(op_id, 3, 6)))
		FROM out_product;
 	</select>
 <!-- DB 출고번호 최대 날짜 (maxDate) == 230620 -->
 
 
 <!-- op_id 출고번호, 담당직원 등록 -->
 	<update id="registOpId">		
		UPDATE production pr
		LEFT JOIN out_product o
		ON pr.production_id = o.production_id
		SET o.op_id = #{op_id}, o.op_process = '출고완료', o.op_date = now(), o.op_emp = #{op_emp}
		WHERE pr.production_id = #{production_id}
 	</update>
 <!-- op_id 출고번호, 담당직원 등록 -->














</mapper>