<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.pagingMapper">

<!--  	전체 리스트 갯수 조회  -->
	<select id="getListAll" resultType="_int">
		SELECT COUNT(*) FROM ${table} 
		WHERE ${status_name}=${status_value}
	</select>
<!-- 	전체 리스트 갯수 조회  -->

<!-- 아무조건이 없을 때 목록갯수 가져오기  -->
	<select id="getListPageSizeAll" resultType="_int">
		SELECT COUNT(*) FROM ${table} 
		WHERE ${status_name}=${status_value} 
		limit #{startRow}, #{pageSize} 
	</select>
<!-- 아무조건이 없을 때 목록갯수 가져오기  -->

<!--  	검색어+페이지갯수 제한 전체 목록 갯수 가져오기  -->
	<select id="getListSearchAll" resultType="_int">
		SELECT COUNT(*) FROM ${table}
		WHERE  ${status_name}=${status_value}
		AND ${selector} LIKE CONCAT('%', #{search}, '%')
	</select>
<!--  	검색어+페이지갯수 제한 전체 목록 갯수 가져오기  -->

<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	<select id="getListFilterAll" resultType="_int">
		SELECT COUNT(*) FROM ${table}
		WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value} 
		LIMIT #{startRow}, #{pageSize}
	</select>
<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->

<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	<select id="getListSearchAndFilterAll" resultType="_int">
		SELECT COUNT(*) FROM ${table}
		WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
		AND ${selector} LIKE CONCAT('%', #{search}, '%') LIMIT #{startRow}, #{pageSize}
	</select>
<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->






<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- 수주  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectContractVO" resultType="ContractVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectContractVO" resultType="ContractVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectContractVO" resultType="ContractVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectContractVO" resultType="ContractVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- 수주  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- 거래처  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectCustomerVO" resultType="CustomerVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectCustomerVO" resultType="CustomerVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectCustomerVo" resultType="CustomerVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectCustomerVo" resultType="CustomerVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- 거래처  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- 사원  페이징처리 시작 -->

	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectEmployeeVO" resultType="EmployeeVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectEmployeeVO" resultType="EmployeeVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectEmployeeVO" resultType="EmployeeVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectEmployeeVO" resultType="EmployeeVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- 사원  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- InMaterialVO 페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectInMaterialVO" resultType="InMaterialVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectInMaterialVO" resultType="InMaterialVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectInMaterialVO" resultType="InMaterialVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectInMaterialVO" resultType="InMaterialVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- inventory  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
	
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- MaterialVO  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectMaterialVO" resultType="MaterialVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectMaterialVO" resultType="MaterialVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectMaterialVO" resultType="MaterialVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectMaterialVO" resultType="MaterialVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- MaterialVO  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- OrderVO  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectOrderVO" resultType="OrderVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectOrderVO" resultType="OrderVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectOrderVO" resultType="OrderVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectOrderVO" resultType="OrderVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- OrderVO  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ProductionVO  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectProductionVO" resultType="ProductionVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectProductionVO" resultType="ProductionVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectProductionVO" resultType="ProductionVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectProductionVO" resultType="ProductionVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- ProductionVO  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- NoticeVO  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectNoticeVO" resultType="NoticeVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectNoticeVO" resultType="NoticeVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectNoticeVO" resultType="NoticeVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectNoticeVO" resultType="NoticeVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- NoticeVO  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- OutProductVO  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectOutProductVO" resultType="OutProductVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectOutProductVO" resultType="OutProductVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectOutProductVO" resultType="OutProductVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectOutProductVO" resultType="OutProductVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- ProductionVO  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- WarehouseVO  페이징처리 시작 -->
	<!-- 아무조건이 없을 때 목록 배열 가져오기  -->
		<select id="getListPageSizeObjectWarehouseVO" resultType="WarehouseVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 아무조건이 없을 때 목록갯수 가져오기  -->	
		
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->
		<select id="getListSearchObjectWarehouseVO" resultType="WarehouseVO">
			SELECT * FROM ${table} 
			WHERE ${status_name} = ${status_value}
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!--  	검색어+페이지갯수 제한 전체 목록 배열 가져오기  -->	
		
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListFilterObjectWarehouseVO" resultType="WarehouseVO">
			SELECT * FROM ${table} 
			WHERE ${column_name} = #{column_value} AND ${status_name} = ${status_value} 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 필터처리+페이지갯수 제한 전체 목록 가져오기  -->
	
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
		<select id="getListSearchFilterObjectWarehouseVO" resultType="WarehouseVO">
			SELECT * FROM ${table}
			WHERE ${column_name} = #{column_value} AND ${status_name}=${status_value}  
			AND ${selector} LIKE CONCAT('%', #{search}, '%') 
			ORDER BY ${id} DESC LIMIT #{startRow}, #{pageSize}
		</select>
	<!-- 검색어+필터처리+페이지갯수 제한 전체 목록 가져오기  -->
<!-- ProductionVO  페이징처리 시작 -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->



</mapper>