<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD지정  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.productionMapper">

<!-- 작업지시 목록 -->
	<select id="getWorkOrderList" resultType="com.itwillbs.domain.ProductionVO">
		select * from production 
		join product ON production.product_id = product.product_id;
	</select>
<!-- 작업지시 목록 -->

<!-- 작업지시 상세 -->
<!-- 작업지시 상세 -->

<!-- 작업지시 등록 -->
	<insert id="insert">
		insert into Alcoholic.production(production_id,production_emp,production_line,plan_qty) values(#{production_id},#{production_emp},#{production_line},#{plan_qty})
	</insert>
<!-- 작업지시 등록 -->

<!-- 생산 목록 -->
<!-- 생산 목록 -->

<!-- 생산 등록 -->
<!-- 생산 등록 -->

<!-- 품질관리 목록 -->
<!-- 품질관리 목록 -->

<!-- 검수 상세 -->
<!-- 검수 상세 -->

<!-- 검수 등록 -->
<!-- 검수 등록 -->

<!-- 공병 관리 -->
<!-- 공병 관리 -->


</mapper>